//====================================================================================================

.page {

  &__about {
    margin: 0px 0px 100px 0px;
  }
}
.about {

  &__container {
    @include flex;
  }

  &__body {
    
    text-align: center; 
  }

  &__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: percent(42px,34px);
    padding: 0px 0px 20px 0px;
    font-weight: 700;
  }

  &__subtitle {
    max-width: 390px;
  }
}
.container {
}
.subtitle {
  font-family: 'Gilroy-Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: percent(22px,18px);

  &__item {
    margin: 0px 0px 30px 0px;
  }
}


//====================================================================================================

