
// INNER
//====================================================================================================
.page {

  &__inner {
    margin: 0px 0px 100px 0px;
  }
}
.inner {

  &__container {
   
  }

  &__body {
    display: flex;
    flex-direction: column;
   
    
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 40px 0px;
    color: $mainColor;
    
    
  }

  &__title {
  font-size: 47.3392px;
  line-height: percent(59px,47px);
  max-width:130px ;
  font-weight: 700;

  }

  &__subtitle {
    max-width: 129px;
    font-weight: 500;
  }

  &__lang {
    transform: rotate(-90deg);
    font-weight: 700;
  }

  &__image {

img{
width: 100%;
  height: 500px;
  object-fit: cover;

}
  }
}
.lang {

  &__gray {
    color: $textgray;
  }
}




// SKILLS 
//====================================================================================================

.page {

  &__skills {
    margin: 0px 0px 100px 0px;
  }
}
.skills {

  &__container {
  }

  &__body {
  }

  &__text {
    @include flex;
    margin: 0px 0px 85px 0px;
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    padding: 0px 0px 70px 0px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: percent(22px,18px);
    font-weight: 500;
  }

  &__icon {
  }
}
.container {
}
.icon {

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    @include flex;
    max-width: 170px;
    
  }

  &__item:last-child .icon__text {
    margin: 0px 0px 56px 0px;

  }

  &__img {
    margin: 0px 0px 25px 0px;
  }

  &__text {
    max-width: 99px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  &__star {
  }
}

// PORTFOLIO
//====================================================================================================
.page {

  &__works {
    margin: 0px 0px 200px 0px;
  }
}
.works {

  &__container {
  }

  &__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding: 0px 0px 50px 0px;
  }

  &__wrap {
   
  }

  &__item {

  }

  &__image {
    margin: 0px 0px 40px 0px;
  }

  &__text {
    text-align: center;
    font-weight: 500;

    font-size: 18px;
    line-height: percent(24px,18px);
    text-align: center;
&:hover{
  text-decoration-line: underline;
  cursor: pointer;
}
  }
}
.container {
}



//====================================================================================================


//====================================================================================================
