
// footer
//====================================================================================================

.page {

  &__footer {
    margin: 0px 0px 120px 0px;
  }
}
.footer {

  &__container {
    display: flex;
    align-items: center;
    justify-content: center
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

  }

  &__title {
    padding: 0px 0px 20px 0px;
    font-size: 34px;
    font-weight: 700;
    color: $mainColor;
    line-height:percent(42px,34px);
  }

  &__subtitle {

    max-width: 280px;
    margin: 0px 0px 35px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: percent(22px,18px);
  }

  &__button {
    margin: 0px 0px 85px 0px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 45px 0px;

  }

  &__text {
    color: $textgray;
    font-weight: 500;
    font-size: 14px;
    line-height: percent(17px,14px);
    max-width: 250px;
  }
}
.container {
}
.btn {
  padding: 15px 28px 15px 30px;
  background-color: $footerbg;
  color: #FFFFFF;
  border-radius: 25px;
  font-size: 18px;
  line-height: percent(22px,18px);
  font-weight: 700;
}
.icon {

  &__item:not(:last-child) {
    margin: 0px 20px 0px 0px;

  }
}


//====================================================================================================
