
//====================================================================================================
.page {

	&__header {
margin: 0px 0px 40px 0px;
	

	}
}
.header {

	&__container {
		display: flex;
		min-height:70px ;
		align-items: center;
		border-bottom: 1px solid #828282;
		transform: matrix(1, 0, 0, 1, 0, 0)
	}

	&__logo {
		margin: 0px 120px 0px 0px;
	
	}

	&__menu {
	}
}
.container {
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu {
	flex: 1 0 auto;

	&__body {
	
	}

	&__list {
		display: flex;	justify-content: space-between;
		
	}

	&__item {
	}
	.menu__list .menu__item:nth-child(1){
		display: none;
	}

	&__link {
	font-family: 'Gilroy-Bold';
	font-weight: 700;
	font-size: 18px;
	line-height: calc(22 / 18 *100%);
  color:$textgray;
		&:hover{
			color: #363333;
			transition: color 0.5s ease;
		}
	}
}


//====================================================================================================

// Burger
.icon-menu{
	display: none;
} 
//====================================================================================================
 	@media (max-width:$mobile) {

 	.icon-menu{
		position: absolute;
		top: 0%;
		right: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 4.5rem;
		height: 3.8125rem;
		z-index: 5;
		cursor: pointer;

 		}
 .header__container{
 	justify-content: space-between;

	
 }
 .header__logo{
 	display: none;
 }
 .menu__body{
 	position: fixed;
 	top: 0;
 	left: -100%;
 	width: 100%;
 	height: 100vh;
 	padding: 71px 30px 30px 30px;
 	transition: left	0.3s ease-in-out 0s;
 	overflow: auto;
 	z-index: 3;
 	opacity: 1;
	 background-color: #FFFFFF;


 }

 .menu__body._active{
 	left: 0;

 }
 .menu__list{
 	flex-direction: column;


 }
 .menu__item{
 		margin-bottom: 50px;

 	}



 }


	//====================================================================================================
	